* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background:#1e1f24;
}
html {
    font-size: 62.5%;
}
body{
    color:#333;
    text-align:center;
    font-family:Arial;
    font-size:16px;
    margin:0;
    padding:0;
}
#cabecera{
    background:#33a;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);
    color:#fff;
    font-weight:700;
    margin:0;
    padding:.5em;
}
#cabecera #tagline{   
    background:#33a;
    padding:0 0 0 1em;
    font-weight:400;
    font-size:0.8em;
}
#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}
#container{
    width:70%;
    padding:0;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto;
}
h1{
    font-size:20px;
}
#post{
    padding:1em;
    background: white;
}
#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}